* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

body {
	background-color: #fff;
	color: #000;
}

.container {
	padding: 2rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
}

.comic {
	text-align: center;
	font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
	.container {
		justify-content: center;
		grid-template-columns: repeat(3, 1fr);
	}
}
